<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="password.css">
  <script src="https://kit.fontawesome.com/0ab370c1f3.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="main">
    <div class="sign-in-box">
      <div class="logo">
        <i class="fa-solid fa-baby"></i>
      </div>
      <div class="password-msg">Enter your password</div>
      <form action="/enter-password" class="sign-in-form" method="post">
        <input type="text" class="username" value=<%= username %> name="username" readonly="true">
        <input type="password" class="password" placeholder="Enter your password" name="password" autofocus>
        <div class="login-error"><%= error %></div>
        <button class="login-btn">Log In</button>
      </form>

      <form action="/">
      <button class="back-btn">Back</button>
      </form>
    </div>
  </div>
</body>
</html>